<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Our tariffs</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="text-center mt-5">Мы можем предложить следующие тарифы</h1>
    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th>№</th>
            <th>Тип</th>
            <th>Процентная ставка</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${tariffs.empty}">
            <td colspan="3">No Tariffs Available</td>
        </tr>
        <tr th:each="tariff : ${tariffs}">
            <td><span th:text="${tariff.id}">Id</span></td>
            <td><span th:text="${tariff.type}">Type</span></td>
            <td><span th:text="${tariff.interestRate}">Interest rate</span></td>
        </tr>
        </tbody>
    </table>

    <div class="text-center">
        <a href="http://localhost:8080/loan-service/getTariffs" class="btn btn-primary">
            Посмотреть JSON
        </a>
    </div>

    <br>

    <div class="text-center">
        <a href="http://localhost:8080/loan-service" class="btn btn-secondary">
            На главную
        </a>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
