<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Our tariffs</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="text-center mt-5">Мы можем предложить следующие тарифы</h1>
    <table class="table table-striped table-fixed mt-4">
        <colgroup>
            <col style="width: 20%">
            <col style="width: 30%">
            <col style="width: 30%">
            <col style="width: 20%">
        </colgroup>
        <thead>
        <tr>
            <th>№</th>
            <th>Тип</th>
            <th>Процентная ставка</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${tariffs.isEmpty()}">
            <td colspan="4">No Tariffs Available</td>
        </tr>
        <tr th:each="tariff : ${tariffs}">
            <td><span th:text="${tariff.id}">Id</span></td>
            <td><span th:text="${tariff.type}">Type</span></td>
            <td><span th:text="${tariff.interest_rate}">Interest rate</span></td>
            <td>
                <form method="post" th:action="@{/loan-service/makeOrder/{tariffId}(tariffId=${tariff.id})}">
                    <button type="submit" class="btn btn-success">Взять</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <br>

    <div class="text-center">
        <a href="http://localhost:8080/" class="btn btn-primary">
            Назад
        </a>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
