<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan service</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1 class="text-center mt-5">Gozhan Credit Bank</h1>
    <div class="text-center mt-4">
        <a href="http://localhost:8080/loan-service/getTariffs-view" class="btn btn-primary">
            Тарифы
        </a>
    </div>
    <div class="text-center mt-4">
        <a href="http://localhost:8080/loan-service/user/orders" class="btn btn-secondary">
            Личный кабинет
        </a>
    </div>
    <div class="text-center mt-4">
        <div th:if="${principal == null}">
            <a href="/login" class="btn btn-primary">Войти</a>
        </div>
        <div th:if="${principal != null}">
            <a href="/logout" class="btn btn-secondary">Выйти</a>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>